apiVersion: v1
kind: Service
metadata:
  name: logging-mux
spec:
  ports:
    -
      port: {{ openshift_hosted_logging_forward_listen_port }}
      targetPort: mux-forward
      name: mux-forward
  externalIPs:
  - {{ openshift_ip }}
  selector:
    provider: openshift
    component: mux
